<configuration>
<!--    Appends-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>src/main/java/Mongo/logs/TestingLogs</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE_MONGO" class="ch.qos.logback.core.FileAppender">
        <file>src/main/java/Mongo/logs/MongoLogs</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%n</pattern>
        </encoder>
    </appender>

<!--    Root level-->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

<!--    Loggers-->
    <logger name="org.mongodb.driver" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE_MONGO" />
    </logger>
</configuration>